pipeline/Test The App.json
{
	"name": "Test The App",
	"properties": {
		"activities": [
			{
				"name": "App Service",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvaultlab1.vault.azure.net/secrets/password/03e1291872d246ed9fc3e8504d79a4ee?api-version=7.0",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "AKV_Test",
							"type": "LinkedServiceReference"
						}
					],
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "myVariable",
					"value": {
						"value": "@activity('App Service').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "App Service",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			}
		],
		"variables": {
			"myVariable": {
				"type": "String",
				"defaultValue": "@activity('App Service').output.value"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-27T11:56:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}